APP_ENV="development" # development OR production
BOT_TOKEN="" # Discord bot token
GUILD_ID="" # Discord guild ID

DATABASE_FILE_NAME="database.sqlite" # Name of the local SQLite database file used by Drizzle

WEBHOOK_LOGS_URL="" # Webhook URL for bot error logs

NODE_OPTIONS="--no-warnings --no-deprecation" # Disables Node.js warnings and deprecation messages
