# Folders
/build
/dist
/discloud
/deprecated
/node_modules

# Files
/.env
/.env.dev
/.env.development

# Config files
/firebase.json

# Extensions
*.zip
*.sqlite
*.sql
!drizzle/*.sql
*.exe
*.db
*.sqlit
*.development.json
